- title = _('Authenticate with GitHub')
- page_title title
- breadcrumb_title title
- header_title _("Projects"), root_path

%h2.page-title
  = _('Authenticate with GitHub')

%p
  = import_github_authorize_message

= form_tag personal_access_token_import_github_path, method: :post do
  .form-group.w-100
    %label.label-bold= _('Personal Access Token')
    = text_field_tag :personal_access_token, '', class: 'form-control w-100', placeholder: _('e.g. 8d3f016698e...')
    %span.form-text.text-muted
      = import_github_personal_access_token_message

  = render_if_exists 'import/github/ci_cd_only'

  .form-actions
    = submit_tag _('Authenticate'), class: "btn btn-success"
    = link_to  _('Cancel'), new_project_path, class: "btn btn-cancel"
